/*
Color palette:
    #086788 (blue)
    #FFFFFF (white)
    #ABC8C0 (light green)
    #70566D (purple)
    #0D080B (black)
*/

body {
    background-color: #70566D !important;
    /* Seems like bootstrap forces it to be white so need the important again */
    font-family: Georgia, 'Times New Roman', Times, serif
}

.title {
    display: inline-block;
    font-size: 25px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.url-bar {
    display: inline-block;
    margin-top: 30px;
    margin: 5px auto;
    padding: 5px;
    width: 35%;
}

input[type="text"] {
    width: 100%;
    padding: 16px 8px 16px 8px;
    border: 2px solid #70566D;
    border-radius: 2px;
    font-size: 15px;
    color: black;
    margin-bottom: 10px;
    background-color: #ABC8C0;
    font-weight: 500;
}

input[type=text]:focus {
    outline: none;
    box-shadow: 0 0 10px #664e63;
    border: 2px solid #664f63;
    border-radius: 2px;
}

::placeholder {
    color: black;
    opacity: 1;
    font-weight: 500;
}

img {
    margin: 5px;
}

#section1 {
    width: 45%;
    border-bottom: solid #b4b4b4 1px;
}


/****** Bootstrap customization *****/

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;
}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);
}

.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 400px;
}

.container {
    max-width: 1400px !important;
    /* Forcefully override bootstrap's max width settings so that it fills more of the screen in large displays */
    border-radius: 5px;
    margin-top: 5px;
    padding-top: 8px;
}

.btn {
    margin-bottom: 15px;
}


/****** SELECTION CSS *******/

#selector-top,
#selector-bottom {
    background: #086788;
    height: 3px;
    position: fixed;
    transition: all 300ms ease;
    /* Gives sliding effect */
    z-index: 1;
    /* Ensures selector is always visible */
}

#selector-left,
#selector-right {
    background: #086788;
    width: 3px;
    position: fixed;
    transition: all 280ms ease;
    z-index: 1;
}

.n {
    transform: scale(3) translateX(100px);
    -webkit-transform: scale(3) translateX(100px);
    /* not supported on Edge or IE */
}

.selected {
    border-style: dotted;
    border-color: #ABC8C0;
    border-width: 3.5px;
}

.label-thing {
    background-color: #ABC8C0;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: auto;
    height: auto;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    /*important! we need to change the direction for aligning elements*/
    justify-content: flex-end;
}